body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: Arial;
  perspective: 200px;
  perspective-origin: center;
  /* perspective-origin: bottom right; */
}

.container {
  border: 1px solid red;
}

.container:hover .cuadrado {
  /* transform: scale(x, y); */
  /* transform: scale(0=0% del tamaño  1=100%); */

  /* transform: scale(2); */
  /* transform: scale(0.5); */
  transform: scale(2, 0.5);

}

.cuadrado {
  width: 200px;
  height: 200px;
  background: #7dc900;
  margin: 20px;
  transition: 300ms;
  /* transition: 2s; */
}
