body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.pelota {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* background-color: red; */
  /* transition-property: width, height; */
  /* transition-duration: 1s; */
  /* transition-delay: 1s; */
  /* transition-timing-function:ease; */

  /* Transition recibe las propiedades, duracion delay y timing-function */
  /* Propiedades: si no se colocan se agregan todas las propiedades por defecto. */
  /* Duracion: Si no se coloca se pone 0s por defecto */
  /* Delay: si no se coloca se ponen 0s por defecto */
  /* Timing-function: Si no se coloca recibe ease por defecto */
  transition: 1s;
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
}

/* .pelota:hover {
  width: 200px;
  height: 200px;
} */

.pelota.a {
  background: red;
  left: 0;
}

.pelota.b {
  background: blue;
  right: 0;
}

.canasta {
  border: 1px solid red;
  position: relative;
  width: 100%;
  height: 100px;
}

.canasta:hover .pelota.a {
  left: calc(50% - 100px);

}

.canasta:hover .pelota.b {
  right: calc(50% - 100px);
}
