* {
    margin: 0%;
    padding: 0%;
    /* Lo que hace es calcular el width y restar el excedente de padding y border */
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
}